*{
    padding: 0;
    margin: 0;
    color: green;
    font-family: 'Harry Potter', sans-serif;
}
html{
height: 100%;
}
#head-nav{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

body{
    background-color: rgb(190, 190, 251,0.5);
}

ul{
    list-style: none;
    display: flex;
}

#nav-bar-ul{
    list-style: none;
    display: flex;
}

#nav-bar-ul li:not(:last-child):hover{
    background-color: #717171;
}

#nav-bar-ul li:not(:last-child){
    padding: 4px 10px;
}

#search{
    margin-right: 10px;
}

#search-li{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa{
    margin-right: 10px;
    color: black;
}
a{
    text-decoration: none;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}


#logo-img{
    width: 250px;
    height: 50px;
    display: inline;
}

/*---------------------------------------------------------------------------------------------------------------  */
#best-sellers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.best-images{
    display: none;
    margin: auto;
    cursor: pointer;
}

.best-images:hover{
    opacity: 0.5;
}

#best-img{
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 70vw;
    height: 500px;
}


.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* --------------------------------------------------------------------------------------------------------------- */


#container-trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-basis: 16%;
}

.products *{
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 20px;
    cursor: pointer;
}
.products *:hover{
    opacity: 0.5;
}

#trending{
    margin: 100px 0;
}


/* --------------------------------------------------------------------------------------------------------------- */
footer{
    font-size: 0.7em;
    background-color: chocolate;
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: start;
    align-items: center;
    bottom: 0;
    flex-wrap: wrap;
}

footer>*{
    margin:0 10px;
}

#footer-list{
    margin-top: 10px;
    flex-wrap: wrap;
}

#footer-list li{
    margin: 0px 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
